.bravura { font-family: "Bravura Text"; }
.bravura_large { font-family: "Bravura Text"; font-size: 36pt; }
@font-face
{
  font-family: 'Bravura Text';
  src: url('../media/BravuraText.woff');
}
.page-inner {
  max-width: 900px !important;
}