.bravura { font-family: "Bravura Text"; }
.bravura_large { font-family: "Bravura Text"; font-size: 24pt; }
@font-face
{
  font-family: 'Bravura Text';
  src: url('https://github.com/steinbergmedia/bravura/raw/master/redist/otf/BravuraText.otf');
}
